<%- include('partials/header') %> <!-- Incluye el header de layout -->


<div class="content-header">
    <h1>Bienvenido, <%= user.username %>!</h1>
</div>

<div class="content">
    <p>Este es tu panel de control.</p>
</div>
<% if (successMessage) { %>
    <div class="alert alert-success">
        <%= successMessage %>
    </div>
<% } %>

<% if (errorMessage) { %>
    <div class="alert alert-danger">
        <%= errorMessage %>
    </div>
<% } %>


<%- include('partials/footer') %> <!-- Incluye el footer de layout -->
